img {
  width: 25%;
  height: 70%;
  object-fit: cover;
  float: left; /* Align the image to the left */
  margin-right: -80px; /* Add some margin between the image and text */
  transform: translate(340px, -40px);  
  object-fit: cover;
}

.hero {
  transform: translateY(80px);
  align-items: center;
  justify-content: center;
}

.hero-text {
  width: 50%;
  float: left;
  transform: translate(390px, 1px); 
}

.hero-text h1 {
  font-size: 2.3rem;
  font-weight: 800;
  color: black;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1.3rem;
  color: black;
  font-weight: 400;
  margin-top: 0;
}


@media screen and (max-width: 555px) {
  .hero-text h1 {
      padding: 10px 20px;
  }

  .hero-text p {
      font-size: 1.1rem;
      padding: 0 0 2rem 0;
  }

  .hero-text .show {
      padding: .6rem 1.1rem;
      border-radius: 6px;
      font-size: 1rem;
  }
}


